body {
  min-width: 750px;
}

.hidden {
  display: none !important;
}

.wrap {
  display: inline-block !important;
}

.head {
  padding-top: 2em;
  width: 65%;
}

.navbar {
  padding-top: .5em;
  padding-left: 3em;
}

.content {
  width: 55%;
  padding-top: 1em;
  padding-bottom: 2em;
  font-size: 16px;
}

.head .menu .item {
  font-size: 19px;
}

.centered {
  margin: 0px auto !important;
}

.centered-text, .centered.wrap {
  text-align: center;
}

#logo {
  width: 200px;
}

.ctitle {
  font-size: 30px;
  font-weight: 400;
}

.ctitle, .content {
  font-family: 'Open Sans', sans-serif;
}

.ntitle {
  width: 45%;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  padding-left: .5em;
}

#separator {
  width: 100%;
  height: 8px;
}

#resumeWrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 130%;
}

#resume {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.content a {
  color: #808080;
}

.content a:hover {
  color: #959595;
}

.profile img {
  width: 100%;
}

.imageWrapper {
  min-width: 400px;
  width : 75%;
}

.gallery .segment {
  max-height: 184px;
  max-width: 184px;
  vertical-align: middle !important;
  cursor: pointer;
  cursor: hand;
}

.gallery img {
  width:100%;
}

.gallery {
  padding: 10px;
}

.modals img {
  vertical-align: middle !important;
}