body {
    align-content: center;
    font-family: 'Open Sans', sans-serif;
}

.link {
    color: #818181;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#title{
    font-family: 'Lato', sans-serif;
    font-size: 30pt;
    position: relative;
    height: 123;
    width: inherit;
    z-index: -1;
}

object {
    padding-top: 10;
}

#title span {
    position: absolute;
    bottom: 0;
    padding-left: 20;
}

.logo {
    width: 200;
    height: 123;
}

.logo img {
    width: inherit;
    height: inherit;
    float: left;
}

.header {
    margin: 0 auto !important;
    width: 65%;
}

.bodycontent {
    padding-top: 10;
    margin: 0 auto !important;
    width: 70%;
}

#names {
    width: inherit;
    padding-left: 20;
}

#separator {
    width: 100%;
    padding-top: 5;
    padding-bottom: 10;
    min-width: 485;
    height: 8;
}

.menu {
    margin: 0 auto !important;
    width: 85%;
    min-width: 435;
}

.menu .item {
    font-size: 14pt !important;
    font-weight: 700;
}

.images img {
    cursor: pointer;
    cursor: hand;
    vertical-align: middle !important;
    max-width: 300px;
    max-height: 300px;
}

.modal img {
    max-width: 300px;
    max-height: 300px;
}

.modal .left {
    max-width: 304;
}

.modal .header {
    font-family: "Lato", sans-serif;
}

.huge.header {
    font-weight: 300 !important;
    font-size: 32pt !important;
}