---
import Shell from '../layouts/Shell.astro';
import Post from '../components/Post.astro';

const metaTitle = 'Elliott Marquez - Blog';
const metaDescription = `Directory of Elliott's blog`;
const metaImage = '/assets/img/avatar-square.jpg';

const posts = Astro.fetchContent('./blog/*.md');
---

<Shell content={metaTitle, metaDescription, metaImage}>
  <nav aria-label="Blog posts">
    {posts.map(post => <Post title={post.title} href={post.url} />)}
  </nav>
</Shell>